<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FaceSplit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <FaceSplit.Properties.Settings>
            <setting name="TimerFont" serializeAs="String">
                <value>Segoe UI, 15.75pt, style=Bold</value>
            </setting>
            <setting name="TimerNotRunningColor" serializeAs="String">
                <value>White</value>
            </setting>
        </FaceSplit.Properties.Settings>
    </userSettings>
</configuration>
