<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FaceSplit.Properties.SettingsLayout" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="FaceSplit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <FaceSplit.Properties.SettingsLayout>
            <setting name="TimerFont" serializeAs="String">
                <value>Microsoft Sans Serif, 14.25pt, style=Bold</value>
            </setting>
            <setting name="TimerNotRunningColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TimerBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TimerRunningColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="TimerBehindColor" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="TimerPausedColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="SplitsBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CurrentSegmentColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="SplitTimesFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="SplitTimesColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SplitNamesFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="SplitNamesColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SplitDeltasFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="SplitDeltasAheadSavingColor" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="SplitDeltasAheadLosingColor" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="SplitDeltasBehindSavingColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="SplitDeltasBehindLosingColor" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="SplitDeltasBestSegmentColor" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="TitleBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TitleFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="TitleColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="AttemptsFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="AttemptsColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GoalBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="GoalColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GoalFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="PreviousSegmentBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="PreviousSegmentTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PreviousSegmentTextFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="PreviousSegmentDeltaSavedColor" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="PreviousSegmentDeltaLostColor" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="PreviousSegmentDeltaBestSegmentColor" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="PreviousSegmentDeltaFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="PreviousSegmentDeltaNoDeltaColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PossibleTimeSaveBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="PossibleTimeSaveTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PossibleTimeSaveTextFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="PossibleTimeSaveColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PossibleTimeSaveFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="PredictedTimeBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="PredictedTimeTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PredictedTimeTextFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="PredictedTimeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PredictedTimeFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="SumOfBestBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SumOfBestTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SumOfBestTextFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="SumOfBestColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SumOfBestFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="SegmentTimerBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SegmentTimerPBColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SegmentTimerPBFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="SegmentTimerBestColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SegmentTimerBestFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="SegmentTimerFont" serializeAs="String">
                <value>Microsoft Sans Serif, 14.25pt, style=Bold</value>
            </setting>
            <setting name="SegmentTimerNotRunningColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SegmentTimerRunningColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="SegmentTimerLosingTimeColor" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="SegmentTimerPausedColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="LayoutSettingsFile" serializeAs="String">
                <value />
            </setting>
        </FaceSplit.Properties.SettingsLayout>
        <FaceSplit.Properties.Settings>
            <setting name="TimerFont" serializeAs="String">
                <value>Microsoft Sans Serif, 14.25pt, style=Bold</value>
            </setting>
            <setting name="TimerNotRunningColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TimerBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TimerRunningColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="TimerBehindColor" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="TimerPausedColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="SplitsBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CurrentSegmentColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="SplitTimesFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="SplitTimesColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SplitNamesFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="SplitNamesColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SplitDeltasFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="SplitDeltasAheadSavingColor" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="SplitDeltasAheadLosingColor" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="SplitDeltasBehindSavingColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="SplitDeltasBehindLosingColor" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="SplitDeltasBestSegmentColor" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="TitleBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TitleFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="TitleColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="AttemptsFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="AttemptsColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GoalBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="GoalColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GoalFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="PreviousSegmentBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="PreviousSegmentTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PreviousSegmentTextFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="PreviousSegmentDeltaSavedColor" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="PreviousSegmentDeltaLostColor" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="PreviousSegmentDeltaBestSegmentColor" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="PreviousSegmentDeltaFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="PreviousSegmentDeltaNoDeltaColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PossibleTimeSaveBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="PossibleTimeSaveTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PossibleTimeSaveTextFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="PossibleTimeSaveColor" serializeAs="String">
                <value />
            </setting>
            <setting name="PossibleTimeSaveFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="PredictedTimeBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="PredictedTimeTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PredictedTimeTextFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="PredictedTimeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PredictedTimeFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="SumOfBestBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SumOfBestTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SumOfBestTextFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="SumOfBestColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SumOfBestFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="SegmentTimerBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SegmentTimerPBColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SegmentTimerPBFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="SegmentTimerBestColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SegmentTimerBestFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="SegmentTimerFont" serializeAs="String">
                <value>Microsoft Sans Serif, 14.25pt, style=Bold</value>
            </setting>
            <setting name="SegmentTimerNotRunningColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SegmentTimerRunningColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="SegmentTimerLosingTimeColor" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="SegmentTimerPausedColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="LayoutSettingsFile" serializeAs="String">
                <value />
            </setting>
        </FaceSplit.Properties.Settings>
    </userSettings>
</configuration>
